<div class="container">
  <div class="row mb-5 mt-2">
    <div class="col-md-12">
      <button
        class="btn btn-primary mx-3"
        (click)="onLogin()"
        [disabled]="isButtonDisable"
      >
        Login
      </button>
      <button
        class="btn btn-danger"
        (click)="onLogout()"
        [disabled]="!isButtonDisable"
      >
        Logout
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/categories']"
            routerLinkActive="active"
          >
            Categories
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/templateform']"
            routerLinkActive="active"
          >
            Template Form
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="userAdded">User Added Button Clicked</div>

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
