<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Hai {{ name }}</h3>
      <hr />

      <div class="app-users-component">
        <!--
          // here we are using the selector as a tag
          <app-users></app-users>
        -->

        <!--
          // here we are using the selector as an attribute
           <div app-users></div>
        -->

        <!-- // here we are using the selector as a class  -->
        <div class="app-users"></div>
      </div>
    </div>
  </div>
</div>
