<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- using group -->
        <div formGroupName="userData">
          <div class="form-group mt-1">
            <label>User Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
            />
            <span
              class="help-block"
              *ngIf="
                !signupForm.get('userData.username')?.valid &&
                signupForm.get('userData.username')?.touched
              "
            >
              <span
                *ngIf="
                  signupForm.get('userData.username')?.hasError('required')
                "
              >
                Username is Required
              </span>

              <span
                *ngIf="
                  signupForm
                    .get('userData.username')
                    ?.hasError('nameIsRestricted')
                "
              >
                Username is not valid (admin, user)
              </span>
            </span>
          </div>

          <div class="form-group mt-1">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span
              class="help-block"
              *ngIf="
                !signupForm.get('userData.email').valid &&
                signupForm.get('userData.email').touched
              "
            >
              Enter valid Email
            </span>
          </div>
        </div>

        <!--
          // without using grouping

          <div class="form-group mt-1">
            <label>User Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
            />
            <span
              class="help-block"
              *ngIf="
                !signupForm.get('username')?.valid &&
                signupForm.get('username')?.touched
              "
              >Please enter valid user name</span
            >
          </div>

          <div class="form-group mt-1">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span
              class="help-block"
              *ngIf="
                !signupForm.get('email')?.valid &&
                signupForm.get('email')?.touched
              "
              >Please enter valid Email</span
            >
          </div>

         -->

        <div *ngFor="let gender of genders" class="mt-1">
          <label>
            <input
              type="radio"
              name="gender"
              [value]="gender"
              formControlName="gender"
            />
            {{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <div class="my-2">
            <button
              class="btn btn-sm btn-warning"
              (click)="addHobby()"
              type="button"
            >
              Add Hobby
            </button>
          </div>

          <div
            class="form-group"
            *ngFor="let hobby of hobbyControl; let i = index"
          >
            <input
              type="text"
              class="form-control mt-2"
              [formControlName]="i"
            />
          </div>
        </div>

        <div>
          <button class="btn btn-primary mt-2">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
