<app-add-user
  (userAdded)="addNewUsers($event)"
  [isInputValid]="isInputValid"
></app-add-user>

<div class="mt-3">
  <h3>Users List</h3>

  <div>
    <button class="btn btn-primary" (click)="changeName()">Change Name</button>
    <button class="btn btn-danger mx-3" (click)="deletecomponent()">
      Delete component
    </button>
  </div>

  <app-user
    *ngFor="let user of usersList"
    [usernameFromParent]="user"
    [name]="name"
  >
    <!-- This will display only if we use the <ng-content> tag. -->
    <span #userSpan>(from users component) Username : {{ user }} </span>
  </app-user>
</div>

<div class="mt-3">
  <!-- build in directive -->
  <p [ngStyle]="{ 'background-color': 'red' }">
    Please add the background color red
  </p>

  <!-- custom directive as tag -->
  <p>
    <appHighlightText1
      >Please add the background color yellow</appHighlightText1
    >
  </p>

  <!-- custom directive as attribute -->
  <p appHighlightText2>Please add the background color purple</p>

  <!-- use the render property in the javascript -->
  <p appRenderHighlight>Please add the background color green</p>
</div>
